{% extends "base.html" %}

{% block content%}
<a id='add' href='{% url 'expense-add'%}'>Add Expense</a>
<div class='container' style="overflow-x:auto;">
<div class='container__title'><h2>Expenses</h2></div>
<table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Actions</th>
    </tr>
{% if expenses %}
    {% for expense in expenses  %}
        <tr>
            <td>{{ expense.name }}</td>
            <td>{{ expense.amount }}</td>
            <td>
                <a id='edit' href='{% url 'expense-edit' expense.expense %}'><button name='edit'>Edit</button></a>
                <a id='delete' href='{% url 'expense-delete' expense.expense %}'><button name='delete'>Delete</button></a>
        </tr>
    {% endfor %}
        <tr id='row_total'>
            <td>Total:</td>
            <td>{% if total %}{{ total }}{% else %}0{% endif %}</td>
{% endif %}
</table>
</div>
{% endblock content %}