{% extends "base.html" %}

{% block content %}
<div class='container'>
    <div class='container__title'><h2>Sign Up</h2></div>
    <form method="POST" novalidate>
        {% csrf_token %}

        {% for field in form  %}
        <p>
            {% if fields.errors %}
                <ul class='errorslist'>
                    {% for errors in fields.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ field.label_tag }} {{ field }}
        </p>
        {% endfor %}

        {% comment %} {{ form.as_p }} {% endcomment %}
        <input type="submit" value="Register" />
    </form>
</div>
{% endblock content %}
